body{
	font-family: 'Rubik', sans-serif !important;
}

.navbar, footer {
	opacity: .8;
}

#home {
	background:  url('../images/banner.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.home-slide {
	padding: 11% 0%;
}

.arrow {
	font-size: 2.5em;
	color: rgba(0, 0, 0, .5)
}

.arrow:hover {
	color: #b4babf;
}

#portfolio, #about {
	background-color: #f8f9fa;
}

#portfolio .display-4 {
	color: #343a40;
}

.title-decorative {
	margin-bottom: 1.5rem;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #adb5bd;
	display: block;
	font-weight: 500;
	padding-top: 14%
}
/*
.nav-cards > li {
	width: 33%;
	padding: 0.5%;
}
*/
a.card {
	color: #495057;
}

a.card:hover {
	text-decoration: none;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08)
}

.icon-circle {
	background: #4582EC;
	display: inline-block;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	border-radius: 50% !important;
	color: #fff;
	text-align: center;
	font-size: 1.75rem;
	padding: 0 !important;
	border-bottom: none !important;
}
/*
.feature-list {
	margin-bottom: 0; }
	.feature-list > li {
	  margin-bottom: 3rem; }
	.feature-list.feature-list-sm > li {
	  margin-bottom: 1.5rem; }
	.feature-list:not(:last-child):not(.row) {
	  margin-bottom: 1.5rem; }
	.feature-list > li[class*='col'] {
	  display: flex;
	  flex-direction: column; }
	  .feature-list > li[class*='col'] .card {
		flex-grow: 1; }
  
  @media (min-width: 576px) {
	.feature-list.feature-list-lg > li {
	  margin-bottom: 4.5rem; } }
  
  @media (min-width: 992px) {
	.feature-list.feature-list-xlg > li {
	  margin-bottom: 7.5rem; }
	  .feature-list.feature-list-xlg > li:last-child {
		margin-bottom: 0; } }
  
  @media (max-width: 767.98px) {
	.feature-list > li {
	  margin-bottom: 1.5rem; }
	  .feature-list > li .img-fluid {
		margin-bottom: 1.5rem; } }
  
  .feature-list > li > .card:only-child {
	margin-bottom: 0; }
*/