body{
	font-family: 'Rubik', sans-serif !important;
}

.navbar, footer {
	opacity: .8;
}

#home, #portfolio {
	min-height: 100vh;
	
}

#home {
	background:  url('../images/banner.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.home-slide {
	padding: 11% 0%;
}

.arrow {
	font-size: 2.5em;
	color: rgba(0, 0, 0, .5)
}

.arrow:hover {
	color: #b4babf;
}
